<%= form_with(model: pre_masla) do |form| %>
  <% if pre_masla.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pre_masla.errors.count, "error") %> prohibited this pre_masla from being saved:</h2>

      <ul>
        <% pre_masla.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
