<h1>Editing pre masla</h1>

<%= render "form", pre_masla: @pre_masla %>

<br>

<div>
  <%= link_to "Show this pre masla", @pre_masla %> |
  <%= link_to "Back to pre maslas", pre_maslas_path %>
</div>
