<p style="color: green"><%= notice %></p>

<h1>Pre maslas</h1>

<div id="pre_maslas">
  <% @pre_maslas.each do |pre_masla| %>
    <%= render pre_masla %>
    <p>
      <%= link_to "Show this pre masla", pre_masla %>
    </p>
  <% end %>
</div>

<%= link_to "New pre masla", new_pre_masla_path %>
