@import "bootstrap";

body {
  padding: 0.5rem;
  --error-red: #FF000024;
}

table.index {
  text-align: center;
  margin: 1rem 0.5rem;

  thead th {
    background-color: #c6c6c6 !important;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    z-index: 100;
    top: 0;
  }

  tbody th {
    background-color: #c6c6c6 !important;
    border-right: 2px black solid;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    z-index: 50;
    left: 0;
  }

  .tcorner {
    background-color: #979797 !important;
    z-index: 150;
    left: 0;
  }

  .error-cell {
    background-color: var(--error-red);
  }
}

.pagination * {
  margin: 0.25rem;
}
