<td><%= link_to masla.id, masla %></td>
<% @cols[1..].each do |col| %>
  <td><%= if !masla[col].nil? then style_data(masla, col, @limit_answer) end %></td>
<% end %>
<% if current_user && current_user.username == "admin" %>
  <td><%= button_to "X", masla, method: :delete %></td>
<% end %>
