<p style="color: green"><%= notice %></p>

<h1>Maslas</h1>

<table id="maslas">
  <thead>
    <th></th>
    <th>Id</th>
    <th>Masla</th>
    <th>Input</th>
    <th>Created</th>
    <th>Updated</th>
  </thead>
  <% @maslas.each do |masla| %>
    <%= render masla %>
  <% end %>
</table>

<%= link_to "New masla", new_masla_path %>
