<p style="color: green"><%= notice %></p>

<h1 class="display-1">Maslas</h1>

<table class='table table-hover table-bordered table-striped rounded'>
  <thead>
    <th scope="col"></th>
    <% @cols[1..].each do |col| %>
      <th scope="col"><%= col %></th>
    <% end %>
    <th scope="col"></th>
  </thead>
  <tbody class="table-group-divider">
    <% @maslas.each do |masla| %>
      <tr>
        <%= render masla %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
