<p style="color: green"><%= notice %></p>

<h1>Maslas</h1>

<table class='table table-hover table-bordered'>
  <thead>
    <th></th>
    <% @cols[1..-1].each do |col| %>
      <th><%= col %></th>
    <% end %>
  </thead>
  <tbody>
    <% @maslas.each do |masla| %>
      <tr>
        <%= render masla %>
      </td>
    <% end %>
  </tbody>
</table>
<br>
<br>
